bookmarks.json

/service/start-page/start-page
/service/start-page/*.exe

.env
.env.*

.DS_Store
Thumbs.db
*.swp
*~

.idea
.vscode
.cursor
.fleet
*.sublime-workspace
.zed

.history

*.out
coverage.html
cpu.prof
mem.prof